<div class="st-layout">
  <div class="st-layout-topbar">
    <div class="st-layout-topbar-logo">L!O!G!O!</div>
    <nav class="st-layout-topbar-nav">
      <ul>
        <li>menu1</li>
        <li>menu2</li>
      </ul>
    </nav>
    <div class="st-layout-topbar-buttons">
      <div class="topbar-button">asdf</div>
    </div>
  </div>

  <div class="st-layout-main">
    <div class="st-layout-main-left-menu">
      Here is menu.
    </div>
    <div class="st-layout-main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
